@import '../../components/OrderMenu/style.scss';
@import '../../components/OrderLink/style.scss';
@import './blocks/galleryCommercial.scss';
@import './blocks/prints.scss';
@import './blocks/more.scss';
@import 'parallax.scss';

.order {
  background-color: #fff;
  position: relative;
  color: #000;
  overflow: hidden;

  &-header {
    position: relative;
    height: 755px;
    overflow: hidden;

    @include tablet {
      height: 825px;
    }

    @include mobile {
      height: 600px;
    }

    @include mobile_and_tablet {
      &:after {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(198, 198, 198, 0.5) 26%, rgba(171, 171, 171, 0.5) 50%, rgba(148, 148, 148, 0.5) 77%, rgba(93, 93, 93, 0.3) 100%);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  &-burger {
    z-index: 2;
    position: fixed;
    will-change: top; // fixes flickering on fast scroll over the parallax bg

    @include desktop {
      top: 81px;
      right: 75px;
    }
  }

  &-wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    will-change: transform;

    &.blurred {
      filter: blur(4px);
    }
  }

  &-sectionWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include desktop {
      height: 760px;
    }

    @include mobile_and_tablet {
      flex-direction: column;
      padding-bottom: 200px;
    }

    &.reverse {
      @include desktop {
        flex-direction: row-reverse;

        .order-imageContainer {
          left: 136px;
          position: relative;
        }

        .order-textContainer {
          align-items: flex-end;
          margin-right: 136px;
        }
      }
    }

    &:not(.reverse) {
      @include desktop {

        .order-textContainer {
          left: 136px;
          position: relative;
        }

        .order-imageContainerWrapper {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .orderLink {
      margin-top: 10px;
    }
  }

  &-textContainer {
    display: flex;
    flex-direction: column;
    transition: transform 500ms ease;

    @include desktop {
      width: 50%;
    }
  }

  &-imageContainer {
    position: relative;
    height: 100%;

    @include desktop {
      width: 50%;
    }

    @include mobile_and_tablet {
      width: 300px;
      margin-bottom: 42px;
    }
  }

  &-moreImage {
    background-image: url("styles/images/order/more.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 849px;
    height: 317px;
  }


  &-content {
    display: flex;
    flex-direction: column;
    transition: transform 500ms ease-in 500ms;
    background-color: #FFFFFF;
  }

  &-text {
    max-width: 310px;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;

    & + & {
      margin-top: 5px;
    }

    span {
      font-weight: 400;
    }

    @include tablet {
      max-width: 300px;
    }

    @include mobile {
      max-width: 300px;
    }
  }

  .orderLink {
    display: block;
    max-width: 300px;

    + .orderLink {

      @include mobile_and_tablet {
        margin-top: 13px;
      }
    }
  }

  .smoothScroll {
    will-change: transform;
  }
}
