@import '../../styles/mixins.scss';

.menu {
    color: #fff;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    .link {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      line-height: 15px;
      font-weight: 300;
      letter-spacing: -0.03em;

      &:hover {
        color: #fff;
      }

      &_type_menuPopup {
        font-size: 25px;
        line-height: 19px;
      }
    }

  @include desktop {
    position: absolute;
    bottom: 67px;
    right: 67px;
    text-align: right;

    ul {
      flex-direction: row;
    }
  }

  @include mobile {
    text-align: center;

    ul {
      flex-direction: column;
      font-size: 25px;
      line-height: 19px;
    }

    li + li {
      margin-top: 50px;
    }
  }

  @include tablet {
    text-align: center;

    ul {
      flex-direction: column;
      font-size: 25px;
      line-height: 19px;
    }

    li + li {
      margin-top: 50px;
    }
  }

  @include desktop {
    li + li {
      margin-left: 45px;
    }
  }
}

