.gallerySlider {
  .slick-dots {
    font-size: 0;
    bottom: 8px;

    li {
      margin: 0;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 22px;
      height: 1px;
      padding: 0;
      background-color: rgba(255, 255, 255, 0.15);

      &.slick-active {
        height: 3px;
        background-color: #fff;
        border-radius: 3px;
      }

      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    .customDotWrapper {
      // увеличивает область клика
      &:before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: -7px;
        bottom: -7px;
      }
    }
  }
}

.sliderDots {
  height: 10px;
  position: absolute;
  left: 200px;

  .slick-slide {
    height: 2px;
    background-color: grey;
    width: 22px;

    &.slick-active {
      background-color: #fefefe;
    }
  }
}

