@import '../../styles/mixins.scss';
@import './dots.scss';

.nature {
  .gallerySlider {
    @include desktop {
      @include responsive_vertical_center;
    }

    @include tablet {
      @include responsive_vertical_center;
    }

    &.blurred {
      filter: blur(4px);
    }

    .sliderPictures {

      @include mobile {
        padding-top: 9px;
      }

      .slick-track {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 130px 0; // отступы включающие текст
      }

      .slick-slide > div {
        width: 100%;
      }

      .picture {
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      .slick-slide {
        min-width: 370px;
        width: 370px;
        height: 470px;

        @include tablet {
          min-width: 260px;
          width: 260px;
          height: 330px;
        }

        @include mobile {
          min-width: 260px;
          width: 260px;
          height: 330px;
        }

        &.slick-center {
          .slider-image-wrapper {
            position: relative;

            &:before {
              content: '';
              background-image: url("styles/images/picture_bg.png");
              background-size: cover;
              background-repeat: no-repeat;
              position: absolute;
              top: -44px;
              left: -70px;
              right: -49px;
              bottom: -70px;
              width: 510px;
              height: 563px;
              z-index: -1;

              @include tablet {
                top: -31px;
                left: -50px;
                right: -48px;
                bottom: -49px;
                width: 327px;
                height: 397px;
              }

              @include mobile {
                top: -31px;
                left: -50px;
                right: -48px;
                bottom: -49px;
                width: 327px;
                height: 397px;
              }
            }
          }
        }

        &:not(.slick-center) {

          .picture {
            width: 198px;
            height: 246px;
            margin-top: 102px;
            border: 10px solid rgba(0, 0, 0, 0.1);
            transition: transform .4s ease-in;
            image-rendering: crisp-edges;
            box-sizing: content-box;

            @include mobile_and_tablet {
              width: 192px;
              height: 240px;
              margin-top: 35px;
            }
          }

          @media (hover: hover) {
            &:hover {
              .picture {
                transform: scale(1.1);
                transition: transform .2s ease-out;
              }
            }
          }

          .textBlock {
            display: none;
          }
        }

        // -1
        &.previous {

          .picture {
            margin-left: 1px;

            @include tablet {
              margin-left: -44px;
              margin-right: auto;
            }
          }

          // -2
          &-previous {

            .picture {
              margin-left: 61px;

              @include tablet {
                margin-right: auto;
                margin-left: -44px;
              }
            }

            // -3
            &-previous {

              .picture {
                margin-left: 122px;

                @include tablet {
                  margin-right: auto;
                  margin-left: -44px;
                }
              }
            }
          }
        }

        &.next {

          .picture {
            margin-left: auto;
            margin-right: 1px;

            @include tablet {
              margin-left: 101px;
              margin-right: auto;
            }
          }

          //-2
          &-next {
            .picture {
              margin-left: 90px;

              @include tablet {
                margin-left: 101px;
                margin-right: auto;
              }
            }

            //-3
            &-next {
              .picture {
                margin-left: 27px;

                @include tablet {
                  margin-left: 101px;
                  margin-right: auto;
                }
              }
            }
          }
        }

        //&[data-index="-1"]:not(.next):not(.previous):not(.next-next):not(.previous-previous) {
        //  background-color: rebeccapurple;
        //  .picture {
        //    margin-left: 1px;
        //  }
      }

      .textBlock {
        text-align: center;
        letter-spacing: -0.03em;
        font-weight: 300;
        padding-top: 59px; //58px

        @include mobile_and_tablet {
          padding-top: 54px;
        }

        .title {
          font-size: 24px;
          line-height: 18px;

          @include mobile_and_tablet {
            font-size: 20px;
            line-height: 14px;
          }
        }

        .location {
          font-size: 15px;
          line-height: 11px;
          padding-top: 8px;
          opacity: 0.25;

          @include mobile_and_tablet {
            font-size: 14px;
            line-height: 10px;
            padding-top: 6px;
          }
        }
      }
    }
  }
}
