$mobile-width: 392px;
$tablet-width: 598px;
$desktop-width: 1024px;

@mixin absolute_position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin responsive_vertical_center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@mixin absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile_and_tablet {
  @media (max-width: #{$desktop-width }) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width + 1px}) {
    @content;
  }
}

@mixin big-desktop {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin link {
  position: relative;
  user-select: none;
  height: 100%;
  display: inline-block;

  .underline {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    bottom: 0;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      height: 1px;
      bottom: -12px; // вместо -11px из-за высоты a элемента
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.25);
      transition: width 0.2s ease-in-out, bottom .1s linear;
    }
  }

  &:hover, &:active {
    .underline {
      width: 100%;

      &:before {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }

  &:hover {
    .underline {
      &:before {
        bottom: -7px;
      }
    }
  }

  &:active {
    .underline {
      &:before {
        bottom: -5px;
      }
    }
  }
}
