@import '../../styles/mixins.scss';
@import '../../styles/animation.scss';

a.logo {
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: visibility $animation_duration_in, opacity $animation_duration_in linear;
  z-index: 2;

  svg {
    transition-property: fill;
    transition-duration: .3s;
    transition-timing-function: linear;
  }

  @include desktop {
    top: 66px;
    left: 66px;

    svg {
      width: 112px;
      height: 90px;
    }
  }

  @include tablet {
    top: 66px;
    left: 66px;

    svg {
      width: 112px;
      height: 90px;
    }
  }

  @include mobile {
    top: 41px;
    left: 41px;

    svg {
      width: 84px;
      height: 66px;
    }
  }

  &_isHidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility $animation_duration_in, opacity $animation_duration_in linear;
  }

  img {
    position: relative;
  }
}
