@import '../../styles/mixins.scss';

a.logo {
    width: 112px;
    height: 90px;
    position: absolute;
    top: 65px;
    left: 65px;
    cursor: url('styles/images/cursor/cursor_link.svg'), pointer;

    @include tablet {
      top: 65px;
      left: 65px;
    }

    @include mobile {
      top: 40px;
      left: 40px;
    }

  img {
    position: relative;
  }
}
