.social {
  &-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0;
  }

  &-item {
    position: relative;
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;

    &_type_tg {
      background-image: url("components/Social/images/tg.png");
    }

    &_type_bm {
      background-image: url("components/Social/images/bm.png");
    }

    &_type_inst {
      background-image: url("components/Social/images/inst.png");
    }

    + .social-item {
      margin-left: 27px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      //@todo combine with link, tho different offset
      bottom: -6px; // вместо -11px из-за высоты a элемента
      width: 12px;
      height: 1px;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.25);
      transition: width 0.2s ease-in-out, bottom .1s linear;
    }

    &:hover, &:active {
      &:before {
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
      }
    }

    &:hover {
      &:before {
        bottom: -5px;
      }
    }

    &:active {
      &:before {
        bottom: -3px;
      }
    }
  }
}
