.social {
  &-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0;
  }

  &-item {
    position: relative;
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;

    &_type_tg {
      background-image: url("components/Social/images/tg.png");
    }

    &_type_bm {
      background-image: url("components/Social/images/bm.png");
    }

    &_type_inst {
      background-image: url("components/Social/images/inst.png");
    }

    + .social-item {
      margin-left: 27px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 22px;
      height: 2px;
      background-color: #fff;
      opacity: 0.25;
      transition: opacity 0.5s ease-in-out;
    }

    &:hover, &:active {
      &:after {
        background-color: #fff;
        opacity: 1;
      }
    }
  }
}
