@import '../../styles/mixins.scss';
@import '../../components/Social/index.scss';
@import '../../components/Menu/index.scss';
@import '../../components/Slider/style.scss';

.mainPage {
  position: relative;
  height: 100%;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

    @include desktop {
      height: 160px;
    }

    @include tablet {
      height: 136px;
    }

    @include mobile {
      height: 93px;
    }
  }

  &-social {
    position: absolute;
    bottom: 65px;
    left: 65px;
  }

  &-logo {
    z-index: 2;
    pointer-events: none;
  }

  &-menu, &-social {
    z-index: 2;

    @include desktop {
      display: block;
    }

    @include tablet {
      display: none;
    }
  }

  &-menuPopup {

    @include desktop {
      display: none;
    }
  }

  &-burger {
    z-index: 2;

    @include desktop {
      display: none;
    }
  }
}
