@import '../../styles/mixins.scss';
@import '../../components/Social/index.scss';
@import '../../components/Menu/index.scss';
@import '../../components/Slider/style.scss';

.mainPage {
  position: relative;
  height: 100%;

  &-social {
    position: absolute;
    bottom: 60px;
    left: 65px;
  }

  &-logo {
    z-index: 2;
  }

  &-menu, &-social {
    z-index: 2;
    display: none;

    @include desktop {
      display: block;
    }
  }

  &-menuPopup {

    @include desktop {
      display: none;
    }
  }

  &-burger {
    z-index: 2;

    @include desktop {
      display: none;
    }
  }
}
