@import '../../styles/mixins.scss';

.menuPopup {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 500ms, visibility 500ms;
  opacity: 0;
  visibility: hidden;
  @include absolute_position;

  // пока убираю фон картинку
  //&:before {
  //  content: '';
  //  @include absolute_position;
  //  background-image: url('styles/images/bg.png');
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //  opacity: 20%;
  //}

  &:after {
    content: '';
    @include absolute_position;
    background: linear-gradient(221.79deg, rgba(0, 0, 0, 0.9) 1.44%, rgba(0, 0, 0, 0.486) 85.3%);
  }

  &-contentWrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    flex-shrink: 0;
  }

  &-bottomWrapper {
    padding-top: 157px;
    padding-bottom: 90px;

    @include tablet {
      padding-top: 157px;
      padding-bottom: 90px;
    }

    @include mobile {
      padding-top: 81px;
      padding-bottom: 57px;
    }
  }

  &-social {
    @include tablet {
      padding-bottom: 37px;
    }

    @include mobile {
      padding-bottom: 25px;
    }
  }

  &-text {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    letter-spacing: -0.03em;
    color: #fff;
    opacity: 0.25; // исходная 0.15
    text-align: center;
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}
