@import '../../styles/mixins.scss';

.menuPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 500ms, visibility 500ms;
  opacity: 0;
  visibility: hidden;
  z-index: 1;

  &:before {
    content: '';
    @include absolute_position;
    background-image: url('styles/images/tile.png');
    background-repeat: repeat;
    opacity: 10%;
  }

  &:after {
    content: '';
    @include absolute_position;
    background: linear-gradient(221.79deg, rgba(0, 0, 0, 0.9) 1.44%, rgba(0, 0, 0, 0.486) 85.3%);
  }

  &-contentWrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 0;
  }

  &-bottomWrapper {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);

    @include tablet {
      bottom: 90px;
    }

    @include mobile {
      bottom: 57px;
    }
  }

  &-social {
    @include desktop {
      padding-bottom: 21px;
    }

    @include tablet {
      padding-bottom: 37px;
    }

    @include mobile {
      padding-bottom: 25px;
    }
  }

  &-text {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    letter-spacing: -0.03em;
    color: #fff;
    opacity: 0.25; // исходная 0.15
    text-align: center;
  }

  .menu {
    li {
      transition: all 300ms ease-in;
      transform: translateX(-100px);
      opacity: 0;
      transition-delay: 0s;
    }
  }


  &.open {
    opacity: 1;
    visibility: visible;

    .menu {
      li {
        opacity: 1;
        transform: translateX(0);

        &:nth-child(1) {
          transition-delay: 0.3s;
        }

        &:nth-child(2) {
          transition-delay: 0.5s;
        }

        &:nth-child(3) {
          transition-delay: 0.7s;
        }
      }
    }

  }
}
