@import '../../../styles/mixins.scss';

.order-slider {

  @include desktop {
    width: 531px;
    height: 317px;
  }

  .slider-image {
    width: 100%;
    height: auto;
  }

  .slick-active {
    .order-dot {
      background-color: #000000;
      height: 3px;
    }
  }

  .order-dot {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 1px;
    background-color: #EDEDED;
    border-radius: 3px;

    + .order-dot {
      margin-left: 8px;
    }

    &:before {
      position:absolute;
      content:'';
      left: 0;
      right: 0;
      top: -7px;
      bottom: -7px;
    }
  }
}
