@import '../../../styles/mixins.scss';

.prints {
  position: relative;
  display: flex;

  //&-wrapper {
  //
  //  @include mobile_and_tablet {
  //    display: flex;
  //    justify-content: center;
  //    width: 300px;
  //    height: 234px;
  //  }
  //}

  @include desktop {
    height: 417px;
    justify-content: flex-start;
    align-items: center;

    .order-imageContainerWrapper {
      width: 532px;
      height: 417px;
    }
  }

  @include mobile_and_tablet {
    height: 234px;
    justify-content: center;
  }

  .image {
    width: 292px;
    height: 341px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.1));
    }

    &.animated {
      transition: all 750ms cubic-bezier(0.164, 0.84, 0.44, 1);
    }

    transition: all 750ms cubic-bezier( 0.88, -0.07, 1, 0.53 );

    @include mobile_and_tablet {
      width: 165px;
      height: 186px;
    }
  }

  &-image {

    &Front {
      z-index: 2;
    }

    &Left {
      transform: scale(0.7);

      &.load {
        transform: scale(1) translatex(-39%) translatey(14%) rotate(-8deg);
      }
    }

    &Right {
      transform: scale(0.7);

      &.load {
        transform: scale(1) translatex(38%) translatey(24%) rotate(5deg);
      }
    }

    &.load {

      &.prints-imageRight {
        transform: scale(1) translatex(38%) translatey(24%) rotate(5deg);
      }

      .prints-imageLeft {
        transform: scale(1) translatex(-39%) translatey(14%) rotate(-8deg);
      }
    }
  }
}
