@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import 'components/Burger/index.scss';
@import 'components/MenuPopup/index.scss';
@import 'components/Logo/style.scss';
@import 'pages/MainPage/style.scss';
@import 'pages/Order/style.scss';
@import 'pages/Nature/style.scss';
@import 'pages/City/style.scss';

body:not(.mobile) {
  * {
    cursor: none;
  }
}

body, html {
  font-family: 'Rubik', sans-serif;
  background-color: #000;
  color: #fff;
  height: 100%;
  margin: 0;
}


#root {
  height: 100%;
}

menu,
ol,
ul {
  padding: 0;
  margin: 0;
}

a.link {
  position: relative;
  user-select: none;

  .underline {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 22px;
    height: 1px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 22px;
      height: 1px;
      bottom: -12px; // вместо -11px из-за высоты a элемента
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.25);
      transition: width 0.2s ease-in-out, bottom .1s linear;
    }
  }

  &:hover, &:active {
    .underline {
      width: 100%;

      &:before {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }

  &:hover {
    .underline {
      &:before {
        bottom: -7px;
      }
    }
  }

  &:active {
    .underline {
      &:before {
        bottom: -5px;
      }
    }
  }

}
