@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import 'components/Burger/index.scss';
@import 'components/MenuPopup/index.scss';
@import 'components/Logo/style.scss';
@import 'pages/MainPage/style.scss';
@import 'pages/Order/style.scss';
@import 'pages/Nature/style.scss';
@import 'pages/City/style.scss';
@import 'styles/mixins.scss';
@import 'styles/animation.scss';
@import 'styles/transition-slider.scss';

body:not(.mobile) {
  * {
    cursor: none;
  }
}

::selection { background: rgba(255, 255, 255, 0.15); }

body, html {
  font-family: 'Rubik', sans-serif !important;
  background-color: #BBBBBB;
  color: #fff;
  height: 100%;
  margin: 0;

  @include desktop {
    min-height: 806px;
  }

  &.hidden {
    overflow: hidden;
  }
}

#root, .wrapper {
  height: 100%;
}

menu,
ol,
ul {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FFFFFF;
}

.img {
  -webkit-user-drag: none;
  user-select: none;
}
