@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import 'components/Burger/index.scss';
@import 'components/MenuPopup/index.scss';
@import 'components/Logo/style.scss';
@import 'pages/MainPage/style.scss';
@import 'pages/Order/style.scss';
@import 'pages/Nature/style.scss';
@import 'pages/City/style.scss';
@import 'styles/mixins.scss';

body:not(.mobile) {
  * {
    cursor: none;
  }
}

::selection { background: rgba(255, 255, 255, 0.15); }

body, html {
  font-family: 'Rubik', sans-serif !important;
  background-color: #000;
  color: #fff;
  height: 100%;
  margin: 0;

  @include desktop {
    min-height: 806px;
  }
}

#root, .wrapper {
  height: 100%;
}

menu,
ol,
ul {
  padding: 0;
  margin: 0;
}

// slider transition
.slide-enter {
  transform: translateY(-100%);
  z-index: 1;
}

.slide-enter.slide-enter-active {
  transform: translateY(0%);
  transition: transform 1.5s cubic-bezier(0.426, 0.006, 0, 1), opacity 650ms ease-in;
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0%);
  transition: transform 1.5s cubic-bezier(0.426, 0.006, 0, 1);
}

.slide-exit-active {
  transform: translateY(100%);
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FFFFFF;
}

.img {
  -webkit-user-drag: none;
  user-select: none;
}
