body:not(.mobile) {

  .cursor {
    width: 16px;
    height: 16px;
    border: 2px solid #fefefe;
    border-radius: 100%;
    position: fixed;
    left: 150px;
    top: 150px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 150ms ease;
    transition-property: width, height;
    z-index: 9999;

    &.hidden {
      opacity: 0;
    }

    &.hover {
      width: 6px;
      height: 6px;
    }

    &.arrow-left {
      width: 7px;
      height: 7px;
      box-shadow: -2px 2px 0 #fefefe;
      border: none;
      border-radius: 0;
      outline: none;
      cursor: pointer;
      transform: rotate(45deg);
    }

    &.arrow-right {
      width: 7px;
      height: 7px;
      box-shadow: -2px 2px 0 #fefefe;
      border: none;
      border-radius: 0;
      outline: none;
      cursor: pointer;
      transform: rotate(-135deg);
    }

    &.picture {
      border: none;
      height: 28px;
      width: 28px;
      background-image: url("./images/picture.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}