@import '../../styles/mixins.scss';
@import './dots.scss';

.slider {
  height: 100%;
  font-size: 0; // gap fix

  &.blurred {
    filter: blur(4px);
  }

  &-slider {
    // ios fix
    height: 100%;
  }

  .slick-slide:focus {
    outline: none;
  }

  // dots
  .slick-dots {
    bottom: 55px;
    z-index: 1;

    li {
      width: 22px;
      height: 1px;
      margin-right: 0;

      + li {
        margin-left: 8px;
      }
    }
  }

  //arrow
  .arrow {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 30%;

    &_direction_right {
      right: 0;
    }

    &_direction_left {
      left: 0;
    }

    &_state_open {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  img {
    // safari ios fix
    //min-height: -webkit-fill-available;
    //height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
//
//.slider-image {
//  -webkit-transition: opacity 1s ease-in-out;
//  -moz-transition: opacity 1s ease-in-out;
//  -o-transition: opacity 1s ease-in-out;
//  transition: opacity 1s ease-in-out;
//  opacity:0;
//  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//  filter: alpha(opacity=0);
//}
//.slick-active {
//  .slider-image {
//    opacity:1;
//    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
//    filter: alpha(opacity=1);
//  }
//}


@-webkit-keyframes image-zoom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

// slider animation
.slick-active {

  .slider-image {
    transform: scale(1) translateY(0);
  }

  &.zoomed {
    .slider-image {
      transform: scale(1.0005) translateY(-15px);
      animation: image-zoom 8s ease-out both;
    }
  }
}
